/_build/
/cover/
/coverage/
/deps/
/doc/
/erl_crash.dump
/tmp/
/assets/node_modules/
/assets/.cache/
/priv/static/assets/
/priv/static/uploads/
/.elixir_ls/
/.DS_Store
/.env
/.env.local
/.env.*
!/.env.example
/.direnv/
/*.db
/*.sqlite3
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
