[submodule "lib/continuous-clearing-auction"]
	path = contracts/v1/lib/continuous-clearing-auction
	url = https://github.com/Uniswap/continuous-clearing-auction.git
[submodule "lib/liquidity-launcher"]
	path = contracts/v1/lib/liquidity-launcher
	url = https://github.com/Uniswap/liquidity-launcher.git
[submodule "lib/uerc20-factory"]
	path = contracts/v1/lib/uerc20-factory
	url = https://github.com/Uniswap/uerc20-factory.git
[submodule "lib/forge-std"]
	path = contracts/v1/lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
