<Regent.Structure.frame class="shell">
  <a class="shell-skip" href="#shell-content">Skip to content</a>
  <Regent.Structure.row class="shell-body">
    <:rail_content><.rail current_path={@current_path} /></:rail_content>
    <div class="shell-main">
      <.top_bar
        account_control={@account_control}
        search_query={@search_query}
        home?={@current_path == "/"}
        blog?={assigns[:blog_page] == true}
        market_options={Map.get(assigns, :market_options) || %{}}
      />
      <div id="shell-content" class="shell-content" tabindex="-1">
        {@inner_content}
      </div>
      <.product_links />
    </div>
  </Regent.Structure.row>
</Regent.Structure.frame>
