cache/
out/
broadcast/
.env

# Vendored dependency noise
lib/**/.env.example
lib/**/.forge-snapshots/
lib/**/.gas-snapshot
lib/**/.github/
lib/**/.gitmodules
lib/**/.vscode/
lib/**/audits/
lib/**/broadcast/
lib/**/docs/
lib/**/script/
lib/**/snapshots/
lib/**/test/
lib/**/.gitattributes
lib/**/.gitignore
lib/**/.npmignore
lib/**/.prettierignore
lib/**/.prettierrc
lib/**/.solhint.json
lib/**/CONTRIBUTING.md
lib/**/SECURITY.md
lib/**/echidna.config.yml
lib/**/foundry.lock
lib/**/foundry.toml
lib/**/justfile
lib/**/package.json
lib/**/remappings.txt
